@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --clr-bg: #e7f1ee;
  --clr-primary: #305b4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--clr-bg);
}

.container {
  width: 600px;
  margin: 20px auto;
}

.d-none {
  display: none;
}

#messageForm,
.message {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 9px #00000039;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label,
.input-group input,
.input-group textarea {
  display: block;
  width: 100%;
}

.input-group label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
}

.input-group input,
.input-group textarea {
  border-radius: .5rem;
  border: 1px solid #a0a0a0;
  padding: .5em;
  font-size: 1rem;
}
.input-group textarea {
  resize: vertical;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: none;
  box-shadow: 0 0 4px var(--clr-primary);
}

#errorMessage {
  margin-bottom: 1rem;
  color: firebrick;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn {
  background-color: var(--clr-primary);
  color: #fff;
  border: 0;
  padding: .6em 2.5em;
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background 100ms ease;
}

.btn:hover {
  background-color: hsl(163, 30%, 32%);
}
.btn:active {
  background-color: hsl(163, 30%, 20%);
}

.title {
  margin-top: 2rem;
  text-align: center;
}

.message {
  margin-top: 1rem;
}

img {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 30%;
}

.message-header {
  display: flex;
}
.message-header h2 {
  align-self: center;
  flex: 1;
  text-align: center;
}

.message-body {
  border-top: 1px solid#cecece;
  margin-top: 1rem;
  padding-top: 1rem;
}