@model WebApp_FileUppload.Models.FileModel

<form asp-action="Upload" enctype="multipart/form-data" >
    <div asp-validation-summary="ModelOnly" class="text-danger my-2"></div>

    <div class="mb-3">
        <label asp-for="@Model.Image" class="form-label"></label>
        <input asp-for="@Model.Image" class="form-control" accept="image/*" />
    </div>

    <button type="submit" class="btn btn-success" >Spara bild</button>

</form>